<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <% if user_signed_in? %>
              <%= render 'form'%>
          <% else %>
              <p>Sign In Please ! </p>
              <%= render 'devise/sessions/form' %>
          <% end %>
        </div>
      </div>
    </div>
</div>

<div class="row" id="container_feeds">
    <%= render @feeds.reverse %>
</div>
