<div>
  <hr class="margin5">
    A Sample Blog Built On Rails
    by <%= link_to "Nirajan Raj Pokharel", users_show_path(1) %>
    <div class="pull-right">
      <%= link_to "Donate !", donate_index_path %>

    </div>
</div>
