<!--<div class="navbar navbar-default navbar-fixed-bottom">-->
      <!--<ul class="nav navbar-nav navbar-left">-->

      <!--</ul>-->
      <!--<ul class="nav navbar-nav navbar-left">-->
        <!--<li><%= link_to "About", users_show_path(1) %></li>-->
        <!--<li><%= link_to "Contact"%></li>-->
      <!--</ul>-->
<!--</div>-->
<br>
<br>
<br>
<br>
<hr>
    A Sample Blog Built On Rails
    by <%= link_to "Nirajan Raj Pokharel", users_show_path(1) %>
    <div class="pull-right">
      <%= link_to "Donate !", donate_index_path %>

</div>